<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments App</title>
</head>
<body>
    <div>
        This is the first comment.
    </div>

    <div>
        This is the second dummy comment.
    </div>

    <div>
        This is The third comment.
    </div>

    <div>
        <form action="." method="POST">
            <textarea name="contents" placeholder="Enter a comment"></textarea>
            <input type="submit" value="Post comment">
        </form>
    </div>
</body>
</html>